#parrafo{
    background-color: rgb(250, 242, 224);
    color:rgb(162, 170, 219);
<<<<<<< HEAD
    border: rgb(137, 138,196);
=======
>>>>>>> b93f68c3a05b0acf8d3b6ee594f5b1310df8ceee
    
    width:50%;
    height: auto;
}